<div class="container">
  <h3>ショッピング一覧</h3>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込み)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_item.each do |cart| %>
          <tr>
            <td>
              <%= image_tag 
            </td>
          </tr>
      </tbody>
    </table>  
  </div>
</div>